form {
	display: flex;
	margin-top: 1.5rem;

	.time {
		width: 15%;
		display: flex;
		justify-content: center;
		align-items: center;

		font-weight: 350;
		color: var(--lighterFont);
	}

	.bloodSugarDiv {
		width: 35%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.6rem;
		font-size: 0.8rem;

		input {
			width: 2.5rem;
			padding: 0.2rem;
			border-radius: 10px;
			border: 1px solid var(--boxesStroke);
			text-align: center;
			background-color: var(--inputBackground);
			color: var(--font);
		}

		span {
			color: var(--lighterFont);
		}
	}
	.physicalActivityDiv {
		width: 35%;
		display: flex;
		justify-content: center;
		align-items: center;

		input {
			border: 1px solid var(--font);
			filter: var(--dropShadow);
			cursor: pointer;
		}
	}
	.submitDiv {
		width: 15%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.8rem;

		button {
			border: none;
			color: var(--bolusText);
			background-color: var(--bolusLight);
			width: 3.7rem;
			height: 1.7rem;
			border-radius: 10px;
			cursor: pointer;
		}
	}
}
