.row {
	&:first-of-type {
		td {
			padding-top: 1.2rem;
		}
	}
	td {
		padding: 0.6rem 0;
		font-size: 0.8rem;

		&:first-of-type {
			font-weight: 350;
			font-size: 1.1rem;
		}

		input {
			&[type="text"] {
				width: 2.5rem;
				padding: 0.2rem;
				border-radius: 10px;
				border: 1px solid var(--boxesStroke);
				text-align: center;
				background-color: var(--inputBackground);
				color: var(--font);
			}
			&[type="checkbox"] {
				border: 1px solid var(--font);
				filter: var(--dropShadow);
				cursor: pointer;
			}
		}

		span {
			color: var(--lighterFont);
			margin-left: 0.6rem;
		}

		button {
			border: none;
			color: var(--bolusText);
			background-color: var(--bolusLight);
			width: 3.7rem;
			height: 1.7rem;
			border-radius: 10px;
			cursor: pointer;
		}
	}
}
