.registerForm {
	display: flex;
	flex-direction: column;
	margin-top: 0;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;

	h1 {
		margin-bottom: var(--spacer);
	}

	.errorMessage {
		font-weight: 500;
		margin-bottom: var(--spacer);
	}

	div {
		display: flex;
		flex-direction: column;
		gap: 0.2rem;

		input {
			padding: 0.3rem;
		}
	}

	button {
		padding: 0.2rem;
		margin-top: 0.5rem;
	}

	.haveAnAccountP {
		margin-top: var(--spacer);
		a {
			font-weight: bold;
		}
	}
}
