.greetingsAndDate {
	height: 4rem;
	width: 100%;
	

	display: flex;
	justify-content: space-between;
	align-items: start;

	h1 {
		font-size: 2rem;
		font-weight: 400;

		span {
			font-weight: bold;
		}
	}
}
