.incompleteMeals {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: var(--boxes);
	border-radius: 10px;

	.fakeTable {
		width: 100%;
		height: calc(100% - 4.3rem);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.fakeTableHead {
			display: flex;
			width: 80%;
			p {
				border-bottom: 1px solid var(--boxesStroke);
				padding: 1rem 0;
				font-size: 0.9rem;
				font-weight: 300;
				color: var(--lighterFont);
				display: flex;
				align-items: center;
				justify-content: center;

				&:nth-of-type(1) {
					width: 15%;
				}

				&:nth-of-type(2) {
					width: 35%;
				}

				&:nth-of-type(3) {
					width: 35%;
				}

				&:nth-of-type(4) {
					width: 15%;
				}
			}
		}
		.fakeTableContent {
			margin-bottom: 2.9rem;
			width: 80%;
		}
	}
}
