.incompleteMeals {
	display: flex;
	flex-direction: column;
	.table {
		border-collapse: collapse;
		text-align: center;
		vertical-align: center;
		margin: auto 0;
		thead {
			tr {
				th {
					border-bottom: solid 1px var(--boxesStroke);
					font-size: 1rem;
					font-weight: 300;
					color: var(--lighterFont);
					padding-bottom: 1rem;
				}
			}
		}
	}
}
