.row {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	.cell {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		flex-direction: column;
		width: 33%;

		p {
			white-space: nowrap;
			overflow: hidden;
			width: 100%;
			text-overflow: ellipsis;
			text-align: center;
		}

		div {
			height: 5rem;
			width: 5rem;
			border-radius: 50%;
			border: 1px solid var(--boxesStroke);
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2rem;
			cursor: pointer;

			box-shadow: 0 0.2ch 0.2ch rgba(0, 0, 0, 0.25);

			&:hover {
				background-color: var(--background);
			}

			&.active {
				border: 2px solid var(--font);
				background-color: var(--background);
			}
		}
	}
}
