.deleteButton {
	height: 2rem;
	width: 2rem;

	background-color: var(--carbsLight);
	border: none;
	border-radius: 50%;

	cursor: pointer;

	font-size: 0.7rem;
}

.dashboardDeleteButton {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
}
