.contentDiv {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	&.contentDivWithoutCards {
		justify-content: center;

		.titlesDiv {
			margin-bottom: 5rem;
		}
		.newSelect {
			margin-bottom: 5rem;
		}
	}

	.titlesDiv {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;

		h1 {
			font-size: 2rem;
			font-weight: 400;
		}

		h2 {
			font-size: 1.4rem;
			font-weight: 300;
		}
	}

	.newSelect {
		width: 13rem;
		height: 2.5rem;
	}

	/* .searchBarDiv {
		background-color: white;
		border-radius: 30px;
		padding: 0.5rem 1rem;

		input {
			border: none;
			outline: none;
			height: 2rem;
			width: 13rem;
			margin: 0 0.3rem 0 0rem;
			text-align: center;

			&.withOptions {
				border-bottom: solid 1px var(--boxesStroke);
				margin-bottom: 0.5rem;
			}
		}

		.carbP {
			margin-left: 1.5rem;
			height: 2rem;
			display: flex;
			align-items: center;
			cursor: pointer;
			font-size: 0.9rem;
		}
	} */

	--width-result: 80%;

	/* .resultsDiv:has(> :last-child:nth-child(2)) {
		width: calc(var(--width-result) * 2 / 3);
		grid-template-columns: 1fr 1fr;
	}
	.resultsDiv:has(:only-child) {
		width: calc(var(--width-result) * 1 / 3);
		grid-template-columns: 1fr;
	} */

	.resultsDiv {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-rows: max-content;

		width: var(--width-result);
		gap: 1.9rem;
		align-content: center;

		&.resultsDivSingle {
			width: calc(var(--width-result) * 1 / 3);
			grid-template-columns: 1fr;
		}

		&.resultsDivDouble {
			width: calc(var(--width-result) * 2 / 3);
			grid-template-columns: 1fr 1fr;
		}

		.newCarb {
			/* width: calc((100% - 2 * 1.9rem) / 3); */
			background-color: var(--boxes);
			border-radius: 10px;
			filter: var(--dropShadow);

			.cardHeader {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 1rem;
				height: 40%;
				width: 100%;
				/* padding: 1rem; */
				border-bottom: 1px solid var(--boxesStroke);
				font-weight: 400;
				padding: var(--spacer);

				p {
					font-size: 1.1rem;
					text-transform: capitalize;
				}
			}
			.cardContent {
				display: flex;
				padding: 1rem;
				align-items: center;
				justify-content: center;
				height: 60%;
				width: 100%;

				input {
					margin-left: 2rem;
					margin-right: 0.5rem;
					width: 3rem;
					height: 1.5rem;
					outline: none;
					text-align: center;
					border-radius: 30px;
					border: 1px solid var(--boxesStroke);
					background-color: var(--inputBackground);
				}
				input::-webkit-outer-spin-button,
				input::-webkit-inner-spin-button {
					-webkit-appearance: none;
				}
				input[type="number"] {
					-moz-appearance: textfield;
				}
			}
		}
	}

	.nextButton {
		height: 2.6rem;
		width: 5rem;
		font-size: 1.1rem;
		background-color: var(--font);
		color: var(--boxes);
		outline: none;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		filter: var(--dropShadow);
		margin-bottom: 1.2rem;
	}

	.errorMessage {
		font-weight: 500;
		display: flex;
		gap: 1rem;
		justify-content: center;
		align-items: center;

		img {
			height: 1.6rem;
		}
	}
}
